* {
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #f3f5fc;
}

.text{
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #f3f4fc;
}

.text::placeholder{
    color: #0A3871;
}

.text:focus, .text:active{
    border: none;
    outline: none;
}

.terms{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
}

.terms p{
    font-family: "Inter"; /*Posiblemente se elimina*/
    font-style: normal;

    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
}

.button-encrip{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: #0a3871;
    border-radius: 24px;
    font-family: "Inter";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #fff;
}

.button-descrip{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #0a3871;
}

.button-descrip:hover, .button-encrip:hover{
  margin: 0.3%;
  width: 24.5%;
  padding: 1.8%;
}

.text-encrip{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background: #fff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.msg-encrip{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

.msg-encrip h2{
    width: 60%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343a40;
}

.msg-encrip p{
    width: 80%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}

.text-encrip img{
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
}

/* Diseño en responsive */
@media (max-width: 57.5em) {
    .container {
      display: flex;
      flex-direction: row;
    }
    .encrip {
      width: 100%;
    }
    .text {
      width: 80%;
      height: 60%;
      left: 10%;
      top: 5%;
    }
    .terms {
      width: 80%;
      left: 10%;
      top: 67%;
    }
    .terms p {
      font-size: 16px;
    }
    .buttons {
      width: 80%;
      left: 10%;
      top: 70%;
    }
    .button-encrip, .button-descrip {
      width: 48%;
      border-radius: 16px;
    }
    .button-encrip:hover, .button-descrip:hover {
      margin: 0.3%;
      width: 47.5%;
      padding: 1.8%;
    }
    .text-encrip {
      width: 80%;
      height: 15%;
      left: 10%;
      top: 80%;
    }
    .msg-encrip {
      width: 100%;
      top: 5%;
    }
    .text-encrip img {
      top: 0;
      display: none;
      visibility: hidden;
    }
  }